body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
 }

 main {
     flex: 1 0 auto;
 }

 .page-footer {
     background-color: white !important;
 }

.zip {
    font-weight: bold;
}

.con-wr {
    height: 600px;
    overflow: auto;
}

.content-chat {
    overflow: auto;
}

.right-align {
    text-align: right;
    padding-right: 16px;
}
