{% extends "base.html" %}

{% block content %}
<nav class='blue darken-3'>
    <div class='container'>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">EveryChat</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>Current Location</li>
            </ul>
        </div>
    </div>
</nav>

<div class='row'>
    <div class='col s2 blue lsidebar'>
        <div class='container'>
            <ul>
                <li><h2>Hello</h2></li>
                <li><h2>There!</h2></li>
            </ul>
        </div>
    </div>
    <div class='col s10'>
        bla
    </div>
</div>

{% endblock %}
