{% extends "base.html" %}

{% block content %}
<header>
    <nav class='blue darken-3'>
        <div class='container'>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">EveryChat</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>Region: </li>
                    <li id='zipcode' class='zip'>Locating...</li>
                    <li>&nbsp; - &nbsp;</li>
                    <li id='waddr'>Locating...</li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class='container'>
        <div id='content-chat'>
            <p>Hello there ppl i need slep</p>
        </div>
    </div>
    <div id="map"></div>
</main>

<footer class='page-footer'>
    <div class='container'>
        <div class='row'>
            <div class='col s9'>
                <input type='text' id='chatInput'>

            </div>
            <div class='col s2'>
                <a href="#" class='btn blue'>Send</a>
            </div>
        </div>
    </div>
</footer>
<script src='/nunjucks.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js'></script>


<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCSNglDEBDBQRWi3QU7Klgok4708YIbLsA"></script>
<script src='app.js'></script>
{% endblock %}
